.projectWrapper {
    display: grid;
    grid-template-columns: 60% auto;
    gap: 30px;
    padding: 30px 0;
}

.imgWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px ;
}

.infoWrapper {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.infoWrapper h3 {
    font-size: 50px;
}

.infoWrapper h6 {
    margin-top: 10px;
    font-size: 15px;

}

.infoWrapper p {
    margin-top: 30px;
    font-size: 25px;
}